html{
    font-size: 18px;
}
*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body{
  
    font-family: "Bai Jamjuree","sans-serif";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;

    }
   
  
#header{
       
     
         /* this is used to rearrange the layers of the page*/
   
        background-image:url(../images/bg-header-desktop.png);
        background-size: cover;
        /*cover makes the image just as the container size*/
        background-repeat:no-repeat ;
        background-position: center;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index: -1;
        text-align: center;
       
    }
   
  @media (max-width:641px){
      #header{
        background-image:url(../images/bg-header-mobile.png); 
        width: 100%;
        background-size: cover;
        /*cover makes the image just as the container size*/
        background-repeat:no-repeat ;
        background-position: center;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index: -1;
        text-align: center;
       
      }

  }
   
#header .logo{
    padding:30px;
}
   
  #header   p{
        font-weight: 400;
        color:  hsl(201, 11%, 66%);
        padding: 12px;
        margin-left:20%;
        margin-right: 20%;
    }
    @media (max-width:641px){
        #header   p{
           
            text-align: center;
    }
}
  #clipboardinfo  p{
        font-weight: 400;
        color:  hsl(201, 11%, 66%);
        padding: 12px;
        margin-left:20%;
        margin-right: 20%;
    }
    h1, h2,h3{
        font-weight: 600;
        color:  hsl(210, 10%, 33%);
        margin: 10px;
    }
    @media(max-width:641px)
    {
        h1,h2,h3{
            width: 90%;
        }
    }
   
    #benefits{
        display: flex;
       
        justify-content:space-evenly
    }
    @media  (max-width:641px){
        #benefits{
          flex-direction: column;
         
        }
    }
  
   @media (max-width:641px){
       #benefits .img1 img{

        width:50vw;
        text-align: center;
       
       }
   }
    #benefits .options{
      padding: 40px;
      width:50vw;
    }
    @media(max-width:641px){
        #benefits .options{
            text-align: center;
            justify-content: center;
            width:90%;
        }
    }
    
   .options p{
        font-weight: 400;
        color:  hsl(201, 11%, 66%);
        padding: 12px;
        
    }
     #access p{
        font-weight: 400;
        color:  hsl(201, 11%, 66%);
        padding: 12px;
        margin-left:20%;
        margin-right: 20%;
    }
   /* .flowgrid{
        display:grid;
        grid-template-columns: repeat(auto-fill , minmax(200px,1fr));
       grid-gap: 20px;
    }*/
    #access{
        margin-bottom: 50px;
    }
    .flowgrid{
        margin: 75px;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
      
    }
    @media(max-width:641px){
      .flowgrid  {
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
    }
   .group{
       width:70%;
       margin: 10px;
       flex-grow: 1;

   }
    #access,#workflow, #clipboarddevices, #clipboardinfo {
        text-align: center;
        padding:20px;
        font-weight: 400;
        color:  hsl(201, 11%, 66%);
    }
     @media (max-width:641px){
        #access,#workflow, #clipboarddevices, #clipboardinfo {
            text-align: center; 
            width:70%%;
    }
}
    .companylogo{
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        margin-bottom: 20px;
    }
  @media (max-width:641px){
      .companylogo{
          flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      .companylogo img{
          width:25%;
          height: 25%;
          margin-bottom: 50px;
      }
         
          
  }
    #clipboarddevices{
        margin: 50px;
    }
    #clipboarddevices p{
        font-weight: 400;
        color:  hsl(201, 11%, 66%);
        padding: 12px;
        margin-left:20%;
        margin-right: 20%;
    }
   
 .ios{
     padding: 1rem;
    background-color: hsl(171, 66%, 44%);
    border-radius: 2rem;
    border: none;
    color: white;
    cursor:pointer;
}
.ios:hover{
    opacity: 0.5;
}
.mac{
    padding: 1rem;
   background-color: hsl(233, 100%, 69%);
   border-radius: 2rem;
   border: none;
   color: white;
  margin: 20px;
   cursor:pointer;
}
.mac:hover{
    opacity: 0.5;
}
    
    

.footerstyle{
    background-color:  #e4e4e4;
    height:100px;
  
   
}
footer a{
   text-decoration: none;
    color:hsl(210, 10%, 33%);
    
}
a:hover{
    color: hsl(171, 66%, 44%);
}
 .footerstyle .item a i:hover{
    color: hsl(171, 66%, 44%); 
 }
.footerstyle{
    display:flex;
   justify-content:space-around;
    align-items: center;
}

.footerstyle .item2{
    display:flex;
    flex-wrap: wrap;

}
.item2 span{
    width:30%;
}

@media (max-width:641px){
     .footerstyle{
         height: 400px;
        flex-direction: column;
        
       
    }
    .footerstyle .item2{
        width:150px;
        flex-direction: column;
        flex-wrap: nowrap;
       
        justify-content: center;
        align-items: center;
       text-align: center;
       
    }
    .item2 span{
        width:100%;
        margin-bottom: 30px;
    }
    .item a {
      margin: 30px
    }
}